<% title = recipe.title %>

<div class="main detail-card">
    <h2><%= recipe.title %></h2>
    <img class="detail-card__img" src="<%= recipe.image_url %>" alt="<%= recipe.title %>" />

    <section>
        <h3>재료</h3>
        <p><%= recipe.ingredients %></p>
    </section>

    <section>
        <h3>조리 방법</h3>
        <div class="instructions" style="white-space: pre-line;">
            <%= recipe.instructions %>
        </div>
    </section>

    <a href="/" class="button button--primary-outlined">목록으로 돌아가기</a>
</div>
